* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
background: url('/fantomes.github.io/images/Fantomes(source).png') no-repeat center center;
    	-webkit-background-size: cover;
    	-moz-background-size: cover;
    	-o-background-size: cover;
    	background-size: cover;
	background-attachment:scroll;
}

body a{
font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 14px;
	font-weight: 10;
	color: rgb(220,220,220);
}

.centercolumn {
	width: 80%;
	margin: 5% auto;
	text-align: center;
}

.maintextdiv {
	margin-top:5%;
}

.texttitle {
	letter-spacing:8px;

}
