* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
background: url('/fantomes.github.io/images/Fantomes(source).png') no-repeat center center scroll;
    	-webkit-background-size: cover;
    	-moz-background-size: cover;
    	-o-background-size: cover;
    	background-size: cover;
}

body {
  height: 100vh;
}


body a{
font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 10px;
	font-weight: 0;
	color: rgb(220,220,220);
}

.centercolumn {
	width: 80%;
	margin: 10% auto;
	text-align: center;
}

.centercolumn a {
	text-align:justify;
}

.mainlogo {
	width:50%;
}

.maintextdiv {
	margin-top:20%;
}

.texttitle {
	letter-spacing:8px;

}
